<?xml version="1.0" encoding="utf-8" ?>
<routes>
    <route url="/P4/" module="Billet" action="index" />
    <route url="/P4/billet-([0-9]+)\.html" module="Billet" action="show" vars="id"/>
    <route url="/P4/commenter-([0-9]+)\.html" module="Billet" action="insertComment" vars="billet" />
    <route url="/P4/comment-report-([0-9]+)\.html" module="Billet" action="reportComment" vars="id" />
    <route url="/P4/billets.html" module="Billet" action="showAll" />
</routes>